<% custom_form_for @user_session, :url => session_url do |f| %>

  <% errors_on_base = @user_session.errors.on(:base) %>
  <% if errors_on_base %>
    <p class="error"><%= errors_on_base %></p>
  <% end %>

  <%= f.text_field_for :email %>
  <%= f.password_field_for :password %>
  <div>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, t('activerecord.attributes.user_session.remember_me') %>
  </div>
  <%= submit_tag t('session.new_button') %>
<% end %>
