<div class="comments" id="<%= %{comments-#{@chapter.id}-#{@commentable_id}}%>">
  <%= render :partial => 'comments' %>
</div>

<% form_for :comment, :url => create_comment_url(@chapter.id, @commentable_id) do |f| %>
  <table>
    <tr>
      <td class="labels"><%= f.label :body, t('comment.body') %></td>
      <td>
        <%= f.text_area :body %>
        <div class="error" id="<%= %{body-error-#{@chapter.id}-#{@commentable_id}} %>"></div>
      </td>
    </tr>
    <tr>
      <td class="labels"><%= f.label :author, t('comment.author') %></td>
      <td>
        <%= f.text_field :author %>
        <div class="error" id="<%= %{author-error-#{@chapter.id}-#{@commentable_id}} %>"></div>
      </td>
    </tr>
    <tr>
      <td class="labels"><%= f.label :url, t('comment.url') %></td>
      <td>
        <%= f.text_field :url %>
        <div class="error" id="<%= %{url-error-#{@chapter.id}-#{@commentable_id}} %>"></div>
      </td>
    </tr>
    <tr>
      <td class="labels"><%= label_tag 'remember-you', t('comment.remember_you')%></td>
      <td><%= check_box_tag 'remember-you', 1, true  %></td>
    </tr>
    <tr>
      <td></td>
      <td><%= submit_tag t('comment.create_button'), :id => 'submit-comment' %></td>
    </tr>
  </table>
<% end %>
