<h1><%= t('title') %></h1>

<% if current_user %>
  <%= link_to(t('chapter.new_link'), new_chapter_url) %>
<% end %>

<% if @chapters.empty? %>
  <p><%= t('chapter.empty') %></p>
<% else %>
  <ul class="chapters">
  <% @chapters.each do |chapter| %>
    <li>
      <%= link_to(chapter.title, chapter_url(chapter)) %>
      <span class="about"><%= t('chapter.published_on') %> <%= chapter.created_at.strftime('%B %d, %Y') %></span>
    </li>
  <% end %>
  </ul>
<% end%>
